/**
 * @file
 * Theme.
 */

/*body {
  background:
  url(../img/background-image.png) ;
  background-attachment:fixed;
  background-position: center;
}

body .view-container.tab-content {
  background-color: transparent;
}

body .pane, .menu, .view, .list, .item {
  background: transparent;
}*/