/**
 * @file
 * Calendar.
 * http://twinssbc.github.io/AngularJS-ResponsiveCalendar/demo/
 */

.calendar {
  .calendar-navbar {
    background-color: $green;
    .nav-left {
      text-align: left;
      width: 16.666666666666664%;
    }
    .calendar-header {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 66.66666666666666%;
    }
    .nav-right {
      text-align: right;
      width: 16.666666666666664%;
    }
  }

  .table-bordered {
    width: 100%;
    cursor: pointer;

    thead {
      background-color: $grey_dark;
      color: white;

      tr {

        td{

        }
      }
    }

    tbody {

      tr {

        td{
          padding: 7px;
        }
      }
    }
  }

  .monthview-with-event {
    background-color: $green;
    font-weight: bold;
    color: white;
  }

  .monthview-with-event-selected {
    background-color: $green_dark;
    font-weight: bold;
    color: white;
  }

  .monthview-selected {
    font-weight: bold;
  }

  .text-muted {
    color: $grey_light;
  }

}
