/**
 * @file
 * Calendar.
 * http://twinssbc.github.io/AngularJS-ResponsiveCalendar/demo/
 */

.calendar {
  .calendar-navbar {
    background-color: $green;
    .nav-left {
      text-align: left;
      width: 16.666666666666664%;
    }
    .calendar-header {
      text-align: center;
      padding-top: 5px;
      width: 66.66666666666666%;
    }
    .nav-right {
      text-align: right;
      width: 16.666666666666664%;
    }
  }

  .table-bordered {
    width: 100%;
    cursor: pointer;

    thead {

      tr {

      }
    }

    tbody {

      tr {

      }
    }
  }


  .monthview-primary-with-event div {
    width: 30px;
    height: 30px;
    margin: auto;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 50%;
    line-height: 40px;
    background-color: $green;
    color: white;
  }

  .monthview-selected {
    font-weight: bold;
  }

  .text-muted {
    color: $grey_light;
  }

}
