<ion-view view-title="Reserver un slot">
  <ion-content>
    <h2>{{doctor.familyname}} {{doctor.firstname}}</h2>
    <h3>{{start | date:'dd MMMM'}}</h3>
    <h4>{{start | date:'HH:mm'}} - {{end | date:'HH:mm'}}</h4>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Prénom</span>
        <input type="text" placeholder="Prénom">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Nom</span>
        <input type="text" placeholder="Nom">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Date de naissance</span>
        <input type="date" placeholder="Date de naissance">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Téléphone</span>
        <input type="tel" placeholder="Téléphone">
      </label>
      <button class="button button-block button-positive activated">Submit</button>
    </div>
  </ion-content>
</ion-view>
