<ion-view view-title="Rendez-vous">

  <ion-content>

    <div class="row">

      <div class="col">
        <ion-item class="item-icon-left item-text-wrap item-icon-right" ui-sref="tab.booking-speciality">
          <h2>Toutes</h2>
        </ion-item>
      </div>

      <div class="col">
        <ion-item class="item-icon-left item-text-wrap item-icon-right" ui-sref="tab.booking-doctor">
          <h2>Cardio</h2>
        </ion-item>
      </div>

      <div class="col">
        <ion-item class="item-icon-left item-text-wrap item-icon-right" ui-sref="tab.booking-doctor">
          <h2>Dentisterie</h2>
        </ion-item>
      </div>

    </div>

  </ion-content>

</ion-view>


<!--
1 Cardio ( Berton, Coupin,Kakwenda)
2 dentisterie ( degavre, coche, Vandenbosche)
3 ORL ( Pollet , Cornelis)
4 Dermatologie ( Dhaussy)
5 Gyneco ( Dr Hayios)
6 ophtalmo ( Makhoul)
7 Radiologie ( de Fays pour mammo, Calicis et de Haene pour osseux)
8 Pschychiatrie (Dr brenard)
-->
