<ion-view view-title="Rendez-vous">

  <ion-content>

    <div class="row">
      <div class="col">
        <speciality-logo label='Toutes' icon='icon-i-health-services' ui-sref="tab.bookings-specialities">
        </speciality-logo>
      </div>
      <div class="col">
        <speciality-logo label='Cardio' icon='icon-i-cardiology' ui-sref="tab.bookings-specialities-doctors({ speciality: 3 })">
        </speciality-logo>
      </div>
      <div class="col">
        <speciality-logo label='Dentisterie' icon='icon-i-dental' ui-sref="tab.bookings-specialities-doctors({ speciality: 29 })">
        </speciality-logo>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <speciality-logo label='ORL' icon='icon-i-ear-nose-throat' ui-sref="tab.bookings-specialities-doctors({ speciality: 14 })">
        </speciality-logo>
      </div>
      <div class="col">
        <speciality-logo label='Dermatologie' icon='icon-i-dermatology' ui-sref="tab.bookings-specialities-doctors({ speciality: 4 })">
        </speciality-logo>
      </div>
      <div class="col">
        <speciality-logo label='Gynecologie' icon='icon-i-womens-health' ui-sref="tab.bookings-specialities-doctors({ speciality: 10 })">
        </speciality-logo>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <speciality-logo label='Ophtalmologie' icon='icon-i-ophthalmology' ui-sref="tab.bookings-specialities-doctors({ speciality: 33 })">
        </speciality-logo>
      </div>
      <div class="col">
        <speciality-logo label='Radiologie' icon='icon-i-radiology' ui-sref="tab.bookings-specialities-doctors({ speciality: 20 })">
        </speciality-logo>
      </div>
      <div class="col">
        <speciality-logo label='Pschychiatrie' icon='icon-i-mental-health' ui-sref="tab.bookings-specialities-doctors({ speciality: 19 })">
        </speciality-logo>
      </div>
    </div>

  </ion-content>

</ion-view>
