/* Empty. Add your own CSS if you like */
.speciality-logo {
    color: red;
    align-content: center;
}

.speciality-logo__icon {
    font-size: 3em;
    width: 100%;
    display: block;
}

.speciality-logo__label {
    font-size: 1em;
    width: 100%;
}
